.form {
  padding-bottom: 85px;

  fieldset {
    width: 325px;
    margin: 0 auto;
    padding: 0;
    border: none;
  }

  input {
    display: block;
    width: 283px;
    background-color: transparent;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid $grey2;
    transition: 0.5s;

    &::placeholder {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      color: $grey;
    }

    &:hover,
    &:focus {
      border-bottom: 1px solid $gold;
      transition: 0.5s;
    }
  }
}

.form__agreement {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
  width: 295px;
  color: $grey;
  margin: 30px auto 35px auto;
  opacity: 0.6;
}

.form__button-subm {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  width: 185px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: $grey3;
  margin-left: 15px;
  padding: 0;
  border: 1px solid $grey2;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;

  &:hover,
  &:focus {
    color: $gold;
    border: 1px solid $gold;
    transition: 0.5s;
  }
}

@media (min-width: $tabletWidth) {
  .form {
    fieldset {
      display: flex;
      flex-wrap: wrap;
      column-gap: 40px;
      row-gap: 60px;
      width: auto;
    }

    input {
      width: 290px;
    }
  }

  .form__agreement {
    width: 420px;
    margin: 0;
  }

  .form__button-subm {
    margin-left: 0;
  }
}

@media (min-width: $desktopWidth) {
  .form {
    fieldset {
      column-gap: 30px;
      margin-left: 100px;
    }

    input {
      width: 267px;
    }
  }

  .form__agreement {
    font-size: 12px;
    width: 375px;
  }

  .form__button-subm {
    margin-top: 20px;
  }

}
