.container {
  width: 325px;
  margin: 0 auto;
  padding: 0 25px;

  @media (min-width: $tabletWidth) {
    width: 678px;
    padding: 0 45px;
  }

  @media (min-width: $desktopWidth) {
    width: 960px;
    padding: 0 120px;
  }
}
