body {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  min-width: 375px;
  color: $white;
  background: $brown;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.blue-text {
  color: $blue;
}
